a.contactus {
  color: #ffe81b; }

.columnUp {
  top: -3em;
  padding: 1.5em;
  height: 100%; }

.columnScaleUp {
  transform: scale(1.2); }

.background-white {
  background: #fff; }

.background-black {
  background: #161616; }

.background-red {
  background: #b71c1c; }

/*
_overrides.scss
styling overrides for the redvan-child theme
please use sparingly as a normalizer...
do all styling in app.scss and it's component-specific includes.
*/
.et_pb_section {
  background: transparent; }

/*

_header.scss
http://goodlife-inc.co.jp/

*/
#main-header #logo {
  transform: scale(1.85) translateY(24%); }

#main-header #top-menu li {
  padding-right: 3em; }
  #main-header #top-menu li.current-page-item {
    border-bottom: 4px solid #b71c1c; }
  #main-header #top-menu li > a {
    border-bottom: 4px transparent solid;
    position: relative;
    transition: .5s; }
    #main-header #top-menu li > a:before, #main-header #top-menu li > a:after {
      position: absolute;
      content: ' ';
      height: 2px;
      width: 0%;
      bottom: 33%;
      transition: .5s;
      background: #161616;
      text-shadow: 0 -2px 0 #161616; }
    #main-header #top-menu li > a:before {
      left: 0; }
    #main-header #top-menu li > a:after {
      right: 0;
      bottom: calc(33% - 2px); }
    #main-header #top-menu li > a:hover {
      color: #b71c1c;
      opacity: 1;
      position: relative;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
      #main-header #top-menu li > a:hover:after, #main-header #top-menu li > a:hover:before {
        width: 100%;
        background: #b71c1c; }

/* header homepage content */
.et_pb_fullwidth_header.homepageHeader .et_pb_fullwidth_header_container {
  width: 100%; }

.et_pb_fullwidth_header.homepageHeader .header-content {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0 4vw;
  font-weight: 700;
  width: 100%;
  margin-top: 0; }
  .et_pb_fullwidth_header.homepageHeader .header-content .et_pb_header_content_wrapper {
    position: absolute;
    top: 0; }
    .et_pb_fullwidth_header.homepageHeader .header-content .et_pb_header_content_wrapper .circleLogo {
      height: 83vh;
      width: 200px;
      margin: 0;
      margin-left: .5vw;
      background: rgba(183, 28, 28, 0.4);
      overflow: visible;
      position: absolute;
      left: 10vw;
      top: 2vw; }
      .et_pb_fullwidth_header.homepageHeader .header-content .et_pb_header_content_wrapper .circleLogo img {
        margin-top: 27vw;
        transform: scale(1.25) translateX(0px); }
  .et_pb_fullwidth_header.homepageHeader .header-content .et_pb_fullwidth_header_subhead {
    text-align: right;
    font-size: 1.9vw;
    line-height: 1.2;
    letter-spacing: .5px;
    position: absolute;
    top: 33vw; }
  .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button {
    color: #ffff66;
    font-size: 2.3vw;
    line-height: 2;
    float: right;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    margin-top: .5em;
    font-weight: 700; }
    .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:after {
      display: none; }
  .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button {
    border-bottom: 4px transparent solid;
    position: relative;
    transition: .5s; }
    .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:before, .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:after {
      position: absolute;
      content: ' ';
      height: 2px;
      width: 0%;
      bottom: 33%;
      transition: .5s;
      background: #161616;
      text-shadow: 0 -2px 0 #161616; }
    .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:before {
      left: 0; }
    .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:after {
      right: 0;
      bottom: calc(33% - 2px); }
    .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:hover {
      opacity: 1;
      position: relative; }
      .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:hover:after, .et_pb_fullwidth_header.homepageHeader .header-content a.et_pb_button:hover:before {
        width: 100%;
        background: #b71c1c; }

.partnerHomeHeader h1 {
  font-size: 3vw;
  font-weight: bold; }

.columnUp {
  top: -3em;
  padding: 1.5em;
  height: 100%; }

.columnScaleUp {
  transform: scale(1.2); }

.background-white {
  background: #fff; }

.background-black {
  background: #161616; }

.background-red {
  background: #b71c1c; }

.calloutModules .et_pb_column {
  padding: 0 1em; }
  .calloutModules .et_pb_column .et_pb_main_blurb_image img {
    height: 130px; }

/*

_twitterGrid.scss

*/
.twitterGrid .twitterHeader {
  position: relative;
  font-size: 30px;
  padding: 0 !important;
  text-align: right !important;
  font-weight: bold; }
  .twitterGrid .twitterHeader img {
    position: absolute;
    left: -90px;
    bottom: -90px; }
  .twitterGrid .twitterHeader a {
    color: #b71c1c; }

/*
	_footer.scss
*/
footer#main-footer {
  background: transparent;
  text-align: center;
  color: #161616; }
  footer#main-footer #footer-widgets {
    padding: 0; }
    footer#main-footer #footer-widgets .footer-widget {
      text-align: center;
      color: #161616; }
      footer#main-footer #footer-widgets .footer-widget a {
        color: #161616;
        text-decoration: underline; }

/*
@import "demoStyles";
*/
body {
  background-size: 300px; }

a {
  color: #b71c1c;
  text-decoration: underline; }

button, .button, input[type="button"], input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #f05545 0%, #b71c1c 50%);
  background-size: 200%;
  background-position: left center;
  text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  transition: .3s;
  letter-spacing: 1.2px;
  margin-top: 30px;
  padding: 15px 17px; }
  button:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-position: right; }

/*# sourceMappingURL=app.css.map */
