$outerWidth: 1080px;
$innerWidth: 980px;
$mobileWidth: 768px;


//colors
$red: #b71c1c;
$red-dark: #7f0000;
$red-light: #f05545;
$yellow: #ffe81b;
$yellow-light: #ffff5e;
$yellow-dark: #c8b600;
$white: #fff;
$black: #161616;
$grey: #212121;
$grey-light: #484848;


//mixin
@mixin respond($media) {
  @if $media == mobile {
    @media (max-width: $mobileWidth) { @content; }
  }
  @if $media == big{
  	@media (min-width: $outerWidth) { @content; }
  }
}

a.contactus{
	color: $yellow;
}


.columnUp{
	top: -3em;
	padding: 1.5em;
	height: 100%;
}
.columnScaleUp{
	transform: scale(1.2);
}

.background-white{
	background: $white;
}
.background-black{
	background: $black;
}
.background-red{
	background: $red;
}