
@import "variables";
@import "overrides";
@import "header";
@import "twitterGrid";
@import "footer";
/*
@import "demoStyles";
*/



body{
    background-size: 300px;
}

a{
	color: $red;
	text-decoration: underline;
}

//buttons
button, .button, input[type="button"], input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	text-align: center;
	color: $white;
	background: linear-gradient(to right, $red-light 0%, $red 50%);
	background-size: 200%;
	background-position: left center;
	text-decoration: none;
	text-decoration: none;
	font-weight: bold;
	box-sizing: border-box;
	display: inline-block;
	transition: .3s;
	letter-spacing: 1.2px;
	margin-top: 30px;
	padding: 15px 17px;

	&:hover{
		background-position: right;
	}

}

